<header class=" background-container" [ngStyle]="{'background-image': 'url(../../../assets/forum.png)'}">

    <div class="content">
        <div class="text-customLight"> 
            <h1 class="text-3xl font-regular" style="font-family: 'Integral CF'; font-weight: 400;">WHAT IS THE 
                <span style="font-family: 'Integral CF'; font-weight: 800;">NRW </span><br/>
                FORUM?</h1>
            <p>
                The NRW's forum is an event made especially for enterprises to present the company, as well as their products in front of more than 400 students coming from different engineering faculties in Tunisia, notably from INSAT, Sup'com, ENIT, ENIM, and many more.
            </p>
        </div>
    </div>
</header>

<div class="container ">
    <!-- First Row -->
    <div class="row">
        <div class="image-left">
            <img src="../../../assets/forumNRW-1.png" alt="Image 1">
        </div>
        <div class="content-right">
            <div class="top-images">
                <img src="../../../assets/forumNRW-2.png" alt="Image 2">
                <img src="../../../assets/forumNRW-3.png" alt="Image 3">
            </div>
            <div class="paragraph-1 text-customLight" >
                <p> <fa-icon [icon]="faShare" class="icon"></fa-icon>
                    &nbsp;&nbsp;Students will also get to discover the newest technologies implemented in the diverse enterprises specializing 
                    in different fields.</p>
            </div>
        </div>
    </div>

    <!-- Second Row -->
    <div class="row">
        <div class="paragraph text-customLight">
            <div class="size">
            <p> <fa-icon [icon]="faShare" class="icon"></fa-icon>
                &nbsp;&nbsp;Job Interview Simulations will be held for students to know what to expect in the future.
                Plus a chance to have their resumes reviewed by experts to help them have a well-written CV.</p>
            </div>
        </div>
        <div class="image-right">
            <img src="../../../assets/forumNRW-4.png" alt="Image 4">
        </div>
    </div>

    <!-- Third Row -->
    <div class="row">
        <div class="image-left">
            <img src="../../../assets/forumNRW-5.png" alt="Image 5">
        </div>
        <div class="paragraph text-customLight" >
            <div class="size">
            <p> <fa-icon [icon]="faShare" class="icon"></fa-icon>
                &nbsp;&nbsp;Students will also have the chance to submit their CVs 
                and resume if interested in working in a certain company and get a closer look at the professional life in general.</p>
            </div>
        </div>
    </div>
</div>