
 
<div class="background-container" [ngStyle]="{'background-image': 'url(../../../assets/header-home.webp)'}">

<!-- Main Content (Centered) -->
    <div class="flex flex-col justify-start items-center text-center px-6  pt-40">
  <!-- Preceding Elements -->
  <h1 class="sm:text-xl md:text-3xl font-integral uppercase text-customRed">
    Welcome to the first
  </h1>
  <h2 class="sm:text-xl md:text-5xl font-integral font-medium uppercase text-customRed mt-2">
    Tunisian National Robotics Congress
  </h2>
  <p class="max-w-2xl text-sm sm:text-base text-customRed font-neue font-light  my-8" style="letter-spacing: 0.02em; ">
    Welcome to the official website of National Robotics Weekend, dive deeper into the details of our congress and don't hesitate to join us for an exceptional journey.
  </p>
        
    </div>
    <!-- counter-->
    <app-countdown [targetDate]="yourTargetDate"></app-countdown>
    <!-- counter-->

    <div class="flex items-center justify-center space-x-4 mt-8 mb-16">
      <a href="#what-is-nrw" class="text-customRed font-neue font-light hover:underline transition duration-300 hover:scale-105" style="letter-spacing: 0.02em; ">Learn more</a>
      <button class="font-neue font-light bg-customRed text-[#D8C59F] px-8 py-2 rounded hover:bg-customRed-dark hover:text-customYellow-light transition duration-300 whitespace-nowrap mx-16 transform hover:scale-105">
        Pre register now
        <img src="../../../assets/Icon.png" alt="Arrow Icon" class="w-2 h-1 ml-2 inline-block" />
      </button>
    </div>
    <!--buttons-->
</div>
    <app-marquee></app-marquee>
        <!--what is nrw-->
        <section id="what-is-nrw" class="py-16 px-8 ">
            <div class="max-w-6xl mx-auto flex items-center space-x-12">
              <!-- Image on the left -->
              <div class="w-1/2">
                <img src="../../../assets/whatisnrw.png" alt="NRW Image" class="rounded-lg shadow-lg">
              </div>
          
              <!-- Text on the right -->
              <div class="w-1/2">
                <h1 class="text-4xl font-integral text-customRed mb-6">WHAT IS <b>NRW?</b></h1>
                <p class="text-lg text-customRed leading-relaxed font-neue font-light">
                  <span class="font-normal">National Robotics Weekend (NRW)</span>, organized by IEEE RAS INSAT, is Tunisia’s exclusive robotics congress, held annually in June in Tunis. Attracting around 350 students, NRW is a unique event that provides a dynamic platform for Tunisia’s future engineers. Participants have the choice to either compete in various challenges and competitions or enrich their knowledge through state-of-the-art workshops and enlightening keynotes. The event is dedicated to uniting the robotics community, nurturing new connections, inspiring innovation, and enhancing technological skills across diverse fields.
                </p>
              </div>
            </div>
          </section>
    
        <!--what is nrw-->

<!--last editions-->

<div class="flex-1 flex flex-col justify-center items-center text-center mt-16">
    <h1 class="sm:text-4xl md:text-4xl font-integral uppercase text-customRed mb-2">
       OUR LAST EDITION <B>IN NUMBERS</B>
    </h1>
    <h2 class="sm:text-xl md:text-xl font-integral uppercase text-customRed">
        NRW 6.0
    </h2>

    <section class="py-8 pb-16">
        <div class="max-w-6xl mx-auto text-center border border-customRed rounded-2xl border-opacity-25 px-8">
          <div class="grid grid-cols-2 md:grid-cols-4 gap-8">
            
            <div class="p-6">
              <img src="../../../assets/speaker1.png" alt="Conferences" class="w-16 h-16 mx-auto mb-4">
              <p class="text-4xl font-bold text-customRed">7</p>  
              <h2 class="text-2xl font-bold text-customRed mb-2">CONFERENCES</h2>
            </div>
      
            
            <div class="p-6">
              <img src="../../../assets/building1.png" alt="Companies" class="w-16 h-16 mx-auto mb-4">
              <p class="text-4xl font-bold text-customRed">12</p>  
              <h2 class="text-2xl font-bold text-customRed mb-2">COMPANIES</h2>
            </div>
      
          
            <div class="p-6">
              <img src="../../../assets/group1.png" alt="Participants" class="w-16 h-16 mx-auto mb-4">
              <p class="text-4xl font-bold text-customRed">+300</p>  
              <h2 class="text-2xl font-bold text-customRed mb-2">PARTICIPANTS</h2>
            </div>
      
          
            <div class="p-6">
              <img src="../../../assets/business-presentation1.png" alt="Workshops" class="w-16 h-16 mx-auto mb-4">
              <p class="text-4xl font-bold text-customRed">8</p>
              <h2 class="text-2xl font-bold text-customRed mb-2">WORKSHOPS</h2>
            </div>
          </div>
        </div>
      </section>
<!--last editions-->
<!--video-->
<section class="py-16 px-16 bg-[#280A03] rounded-3xl my-16 w-[80%]">
  <div class="w-full text-center rounded-xl">
    <!-- Heading -->
    <h2 class="text-3xl font-integral text-customYellow mb-8">
      WATCH <b> THE AFTER MOVIE </b> OF NRW 6.0
    </h2>
    

    <!-- Video Container -->
<div class="relative w-full h-0 pb-[50%] rounded-3xl overflow-hidden shadow-lg border-[#DDBB81]"  style="border-width: 3px;">
  <iframe
    class="absolute top-0 left-0 w-full h-full"
    src="../../../assets/nrwaftermovie.mp4"
    title="NRW 5.0 Aftermovie"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>

  </div>
</section>


  <!--video-->

<!--what is iee-->
<section  class="py-8 px-8"> <!-- Reduced padding from py-16 to py-8 -->
  <div class="max-w-6xl mx-auto flex text-left space-x-12">
    <!-- Text on the left -->
    <div class="w-1/2 mt-8">
      <h1 class="text-4xl font-integral text-customRed my-4">WHAT IS <b>IEE RAS INSAT?</b></h1> <!-- Reduced margin-bottom from mb-6 to mb-4 -->
      <p class="text-md text-customRed leading-relaxed font-neue font-light">
        <b>IEEE RAS INSAT SBC,</b> the Robotics and Automation Society Student Branch Chapter, serves as the organizing unit for the national robotics weekend. It's one of the largest and most dynamic chapters within IEEE, its primary objective is to foster innovation and advance research in the fields of robotics and automation.
        With a membership exceeding 200 individuals, it consistently delivers engaging activities and initiatives in order to cultivate interest and expertise in these fields.
      </p>
    </div>

    <!-- Image on the right -->
    <div class="w-1/2">
      <img src="../../../assets/ras.webp" alt="NRW Image" class="rounded-3xl shadow-lg image-80 m-auto">
    </div>
  </div>
</section>

<section class="py-4 text-left px-0 max-w-6xL">
    <p class="text-lg text-customRed mb-2 font-neue font-normal" style="letter-spacing: 0.02em;">
      It is one of the most active Student Branch Chapter in Tunisia Playing a vital role at INSAT ecosystem by:
    </p>
    <ul class="custom-list space-y-2 mb-2"> <!-- Removed list-disc and added custom-list -->
      <li class="text-md text-customRed font-neue font-light" style="letter-spacing: 0.02em;">
        Organizing The ONLY robotics congress in Tunisia: <b>National Robotics Weekend</b>
      </li>
      <li class="text-md text-customRed font-neue font-light" style="letter-spacing: 0.02em;">
        Representing Tunisia Yearly in <b>EUROBOT</b> since 2022
      </li>
      <li class="text-md text-customRed font-neue font-light" style="letter-spacing: 0.02em;">
        Organizing <b>RAS ODYSSEY:</b> a Program to Teach 100 students embedded systems, robotics and AI in 5 Sessions for each domain since 2024.
      </li>
      <li class="text-md text-customRed font-neue font-light" style="letter-spacing: 0.02em;">
        Organizing <b>InnoWeek:</b> A week of intensive learning and innovation in embedded systems, culminating in a spirited showcase of skills at INSAT. (2024)
      </li>
      <li class="text-md text-customRed font-neue font-light" style="letter-spacing: 0.02em;">
        Arranging <b>“RoboCraft”</b> was a successful series where participants built autonomous robots, with attending the Esprit Ras Robots competition.
      </li>
    </ul>
    <div class="text-right mt-6">
      <a href="https://insat.ieee.tn/" 
         class="text-lg text-customRed hover:underline transition duration-300 transform hover:scale-105 font-neue font-light inline-block ">
         explore more &nbsp;<fa-icon [icon]="faChevronRight" style="font-size: 0.5em;"></fa-icon>
      </a>
    </div>
    
</section>  
<!--what is iee-->  
<!--speakers-->
<!-- Speakers Section -->
<section class="py-16 px-8 my-8">
  <div class="max-w-6xl mx-auto text-center">
    <h2 class="text-3xl font-integral text-customRed mb-8">MEET <span style="font-weight: 800;">OUR SPEAKERS</span></h2>

    <!-- Speaker Cards Carousel -->
    <div class="relative">
      <!-- Speaker Cards Container -->
      <div class="overflow-x-auto scroll-smooth whitespace-nowrap scroll-hidden  py-8 min-h-[350px]" #speakersContainer>
        <div
          *ngFor="let speaker of speakers"
          class="inline-block mx-4 scale-125"
        >
          <app-card
            [imageSrc]="speaker.imageSrc"
            [firstName]="speaker.firstName"
            [lastName]="speaker.lastName"
            [role]="speaker.role"
            [roleClass]="'text-xs'"
          ></app-card>
        </div>
      </div>
    </div>

    <!-- Navigation Buttons & Explore More -->
    <div class="relative flex items-center justify-center">
      <!-- Centered Navigation Buttons -->
      <div class="flex">
        <!-- Left Arrow Button -->
        <button
          class="group w-10 h-10 flex items-center justify-center rounded-full bg-customRed hover:bg-[#C5A671] border border-transparent hover:border-customRed transition duration-300 z-10 mx-2 hover:scale-105"
          (click)="scrollLeft()"
        >
          <fa-icon [icon]="faChevronLeft" class="text-[#C5A671] group-hover:text-customRed" style="font-size: 0.8em;"></fa-icon>
        </button>

        <!-- Right Arrow Button -->
        <button
          class="group w-10 h-10 flex items-center justify-center rounded-full bg-customRed hover:bg-[#C5A671] border border-transparent hover:border-customRed  transition duration-300 z-10 mx-2 hover:scale-105"
          (click)="scrollRight()"
        >
          <fa-icon [icon]="faChevronRight" class="text-[#C5A671] group-hover:text-customRed" style="font-size: 0.8em;"></fa-icon>
        </button>
      </div>  

      <!-- Explore More aligned to the right -->
      <a href="/speakers" class="absolute right-10 text-lg text-customRed hover:underline transition duration-300 hover:scale-105 font-neue font-light">explore more &nbsp;<fa-icon [icon]="faChevronRight" style="font-size: 0.5em;"></fa-icon></a>
    </div>
  </div>
</section>

<!--speakers-->

<!--students should join-->
<section class="py-16 px-8 mt-8 bg-cover bg-center rounded-3xl" style="background-image: url('../../../assets/info-bg.png');">
  <div class="max-w-6xl mx-auto">
    <!-- Heading -->
    <h2 class="text-3xl font-integral text-[#DDBB81] mb-8 text-center">
      WHY SHOULD STUDENTS GATHER <b> IN NRW 6.0?</b>
    </h2>

    <!-- Quote Section -->
    <div class="p-8 mb-8">
      <p class="font-neue font-thin text-lg text-[#DDBB81]  text-left" style="letter-spacing: 0.02em;">
        "<b>NRW </b>is the nexus for tech enthusiasts, featuring <b>stellar speakers</b>, dynamic <b>networking sessions</b>, hands-on <b>workshops</b>, and thrilling<b> AI and technology challenges</b>. It's a hub where innovation meets collaboration, empowering a new wave of tech pioneers in the region. Don't miss out on this electrifying event!"
      </p>
    </div>

    <!-- Networking and Exhibition Section -->
    <div class="mb-8">
      <!-- Networking and Exhibition Section -->
<div class="mb-8 flex flex-col md:flex-row items-center gap-8">
  <!-- Text Content -->
  <div class="flex-1">
    <h3 class="text-2xl font-integral text-[#DDBB81] mb-4 text-left">NETWORKING AND EXHIBITION</h3>
    <p class="text-lg font-neue font-light text-[#DDBB81] mb-4 text-left" style="letter-spacing: 0.02em;">
      National Robotics Weekend not only fosters innovation but also cultivates a community through its networking and exhibition opportunities. The event's job fair and student project exhibition are pivotal for establishing connections and showcasing talent.
    </p>
  </div>

  <!-- Image -->
  <div class="w-1/4"> <!-- Adjust the width of the image container -->
    <img
      src="../../../assets/students-1.png"
      alt="Networking and Exhibition"
      class="w-full h-auto rounded-lg shadow-lg"
    />
  </div>
</div>
    <p class="text-[#DDBB81] text-left text-lg font-neue font-light" style="letter-spacing: 0.02em;">To enhance these activities, consider incorporating:</p>
      <ul class="font-neue font-light px-4 py-2 list-disc  text-lg text-[#DDBB81] text-left" style="letter-spacing: 0.02em;">
        <li><b>Interactive Panels:</b> Invite industry leaders to discuss emerging trends in robotics, providing attendees with insights into the future of the field.</li>
        <li><b>Mentorship Sessions:</b> Pair students with professionals for one-on-one mentorship, offering guidance on career development within the robotics sector.</li>
        <li><b>Innovation Challenges:</b> Host mini-competitions during the exhibition, encouraging participants to solve real-world problems presented by partner companies.</li>
      </ul>
    </div>

    <!-- Lead Generation Section -->
    <div class="m-8 py-8 flex items-center">
      <!-- Image Container (1/3 Width) -->
      <div class="w-1/3 pr-6">
        <img src="../../../assets/students-2.png" alt="Lead Generation" class="w-full h-auto rounded-lg shadow-lg">
      </div>
    
      <!-- Text Content (2/3 Width) -->
      <div class="w-2/3">
        <h3 class="text-2xl text-left font-integral text-[#DDBB81] mb-4">LEAD GENERATION</h3>
        <p class="text-lg font-neue font-light text-left text-[#DDBB81]">
          In a world where the boundaries between politics, technology, and business blur, NRW stands as a beacon of opportunity.<br/> Here, at NRW, we embrace those shaping the future. Our community is diverse: future entrepreneurs, visionaries, and innovators. Forge connections, strike deals, and discover the unexpected. Join us and be part of the change.
        </p>
      </div>
    </div>
    

    <!-- Learning and Development Section -->
    <div class="m-8 py-8 flex flex-col md:flex-row items-center">
      <!-- Text Content (Full Width on Mobile, 2/3 Width on Desktop) -->
      <div class="w-full md:w-2/3 md:pr-6">
        <h3 class="text-2xl font-integral text-[#DDBB81] mb-4 text-left">LEARNING AND DEVELOPMENT</h3>
        <p class="text-lg font-neue font-light text-[#DDBB81] text-left">
          National Robotics Weekend not only fosters innovation but also cultivates a community through its networking and exhibition opportunities. The event's job fair and student project exhibition are pivotal for establishing connections and showcasing talent.
        </p>
      </div>
    
      <!-- Image Container (Full Width on Mobile, 1/3 Width on Desktop) -->
      <div class="w-full md:w-1/3 mt-6 md:mt-0">
        <img
          src="../../../assets/students-3.png"
          alt="Learning and Development"
          class="w-full h-auto rounded-lg shadow-lg"
        />
      </div>
    </div>

    <!-- Explore More Button -->
    <div class="text-right">
      <a href="/technical-challenges" class="inline-block text-lg text-[#DDBB81] hover:underline font-neue font-thin transition duration-300 hover:scale-105">explore more on nrw 7.0 plots &nbsp;<fa-icon [icon]="faChevronRight" style="font-size: 0.5em;"></fa-icon></a>
    </div>
  </div>
</section>

<!--students should join--> 
<!--sponsors-->
<!-- Sponsors Section -->
<section class="py-32 mt-4">
  <div class="max-w-6xl mx-auto text-center">
    <h2 class="text-3xl font-integral text-customRed mb-8">MEET <b>OUR SPONSORS</b></h2>

        <!-- Marquee Container -->
        <div class="marquee-container mt-4 min-h-[250px] flex items-center">
          <div class="marquee-content">
            <div class="marquee-group">
              <img src="../../../assets/sponsors/ST.png" alt="Sponsor 1">
              <img src="../../../assets/sponsors/CSF.png" alt="Sponsor 2">
              <img src="../../../assets/sponsors/UE.png" alt="Sponsor 3">
              <img src="../../../assets/sponsors/Logo_Amen_Bank.png" alt="Sponsor 4">
              <img src="../../../assets/sponsors/Mare_Custos.png" alt="Sponsor 5">
              <img src="../../../assets/sponsors/sopal.png" alt="Sponsor 6" class="small-logo">
              <img src="../../../assets/sponsors/Logo-ontech.png" alt="Sponsor 7" class="small-logo">
              <img src="../../../assets/sponsors/CoWorky.png" alt="Sponsor 8">
              <img src="../../../assets/sponsors/Falku.png" alt="Sponsor 9"  class="small-logo">
            </div>
          </div>
        </div>
    <!-- Call to Action -->
    <p class="text-sm font-neue font-light text-customRed mt-6">
      Wanna become a partner? &nbsp;
      <a href="mailto:nrwcongress@gmail.com" 
         class="hover:underline transition duration-300 hover:scale-105 inline-block">
        Contact us now
      </a>
    </p>
  </div>
</section>

</div>