/* Background container */
.background-container {
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
  min-height: 80vh; /* Ensures the container takes at least 80% of the viewport height */
  display: flex;
  flex-direction: column; /* Stacks children vertically (navbar on top, content below) */
  padding: 20px; /* Adds some padding around the content */
}
.image-80 {
  width: 80%;
  height: auto;

}

.custom-list {
    list-style: none; /* Remove default list bullets */
  }
  
  .custom-list li {
    position: relative; /* Required for positioning the custom icon */
    padding-left: 2rem; /* Space for the custom icon */
  }
  
  .custom-list li::before {
    content: ""; /* Required for the pseudo-element */
    position: absolute;
    left: 0; /* Position the icon to the left of the list item */
    top: 0.5rem; /* Adjust vertical alignment */
    width: 1rem; /* Set the width of the icon */
    height: 1rem; /* Set the height of the icon */
    background-image: url('../../../assets/Fire.png'); /* Path to your custom icon */
    background-size: contain; /* Ensure the icon fits within the specified dimensions */
    background-repeat: no-repeat; /* Prevent the icon from repeating */
  }


/* Ensure smooth scrolling */
.scroll-smooth {
  scroll-behavior: smooth;
}
.scroll-hidden {
  -ms-overflow-style: none; /* Hide scrollbar in IE/Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.scroll-hidden::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari, and Edge */
}
/* Custom gradient with transparency */
/* Marquee Animation */
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
}

.marquee-content {
  display: flex;
  animation: marquee 6s linear infinite;
}

.marquee-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  min-width: 100%;
  gap: 2rem; /* Adds spacing between logos */
}

.marquee-group img {
  height: 150px;
  object-fit: contain;
  width: auto;
}
