<nav class="navbar flex items-center justify-center px-4 py-2 bg-customYellow text-customRed">
    <!-- Bordered Container -->
    <div class="border border-black flex items-center w-11/12 max-w-4xl justify-between px-4 ">
      <!-- Logo Section -->
      <div class="navbar-brand flex items-center">
        <img src="../../assets/LOGO-NRW.png" alt="Logo" class="h-8 w-8 mr-4 scale-125">
      </div>
  
      <!-- Navigation Links -->
      <ul class="navbar-links flex space-x-6">
        <li class="navbar-item"><a href="#" class="navbar-link">Home</a></li>
        <li class="navbar-item"><a href="#" class="navbar-link">About us</a></li>
        <li class="navbar-item"><a href="#" class="navbar-link">Program</a></li>
        <li class="navbar-item"><a href="#" class="navbar-link">Technical Challenges</a></li>
        <li class="navbar-item"><a href="#" class="navbar-link">OC team</a></li>
      </ul>
  
      <!-- Contact Button -->
      <div class="navbar-button flex items-center  ml-4 scale-75">
        <a href="#" class="bg-customRed text-customYellow px-4 py-2 rounded-full hover:bg-blue-600">Contact Us</a>
      </div>
    </div>
  </nav>
  