<nav class="navbar flex items-center justify-center px-4 py-2 text-customRed my-4 bg-transparent">
  <!-- Bordered Container -->
  <div class="flex items-center w-11/12 max-w-4xl justify-between px-4">
    <!-- Logo Section -->
    <div class="navbar-brand flex items-center">
      <!-- Default Logo -->
      <img *ngIf="!isSpecifiedRoute()" src="../../assets/LOGO-NRW.png" alt="Logo" class="w-[65px] h-[62.5px] mr-4">
      
      <!-- Alternate Logo for Specified Route -->
      <img *ngIf="isSpecifiedRoute()" src="../../assets/LOGO-NRW-LIGHT.png" alt="Alternate Logo" class="w-[65px] h-[62.5px] mr-4">
    </div>

    <!-- Navigation Links -->
    <ul class="navbar-links flex space-x-6">
      <li class="navbar-item">
        <a routerLink="/" routerLinkActive="font-bold " [routerLinkActiveOptions]="{ exact: true }" [ngClass]="{
             'text-customLight': isSpecifiedRoute()
           }">Home</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/program" routerLinkActive="font-bold " [routerLinkActiveOptions]="{ exact: true }" [ngClass]="{
             'text-customLight': isSpecifiedRoute()
           }">Program</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/oc-team" routerLinkActive="font-bold " [routerLinkActiveOptions]="{ exact: true }" [ngClass]="{
             'text-customLight': isSpecifiedRoute()
           }">OC team</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/Technical-challenges" routerLinkActive="font-bold " [routerLinkActiveOptions]="{ exact: true }" [ngClass]="{
             'text-customLight': isSpecifiedRoute()
           }">Technical Challenges</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/speakers" routerLinkActive="font-bold " [routerLinkActiveOptions]="{ exact: true }" [ngClass]="{
             'text-customLight': isSpecifiedRoute()
           }">Speakers</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/forum" routerLinkActive="font-bold " [routerLinkActiveOptions]="{ exact: true }" [ngClass]="{
             'text-customLight': isSpecifiedRoute()
           }">Forum</a>
      </li>
    </ul>

    <!-- Contact Button -->
    <a href="mailto:nrwcongress@gmail.com"
       class="flex items-center justify-center w-[125px] h-[42px] rounded-[32px] transition-all duration-300transform hover:scale-115 "
       [ngClass]="{
         'bg-customLight text-customRed ': isSpecifiedRoute(), 
         'bg-customRed text-customLight ': !isSpecifiedRoute()
       }">
      Contact us
    </a>
  </div>
</nav>
