<nav class="navbar flex items-center justify-center px-4 py-2 text-customRed my-4"> 
    <!-- Bordered Container -->
    <div class="flex items-center w-11/12 max-w-4xl justify-between px-4 ">
      <!-- Logo Section -->
      <div class="navbar-brand flex items-center">
        <img src="../../assets/LOGO-NRW.png" alt="Logo" class="w-[65px] h-[62.5px] mr-4">
      </div>
  
      <!-- Navigation Links -->
      <ul class="navbar-links flex space-x-6">
        <li class="navbar-item"><a href="" class="navbar-link">Home</a></li>
        <li class="navbar-item"><a href="#" class="navbar-link">About us</a></li>
        <li class="navbar-item"><a href="#" class="navbar-link">Program</a></li>
        <li class="navbar-item"><a href="#" class="navbar-link">Technical Challenges</a></li>
        <li class="navbar-item"><a href="oc-team" class="navbar-link">OC team</a></li>
      </ul>
  
      <!-- Contact Button -->
      <a href="#" class="bg-customRed text-[#D8C59F] w-[125px] h-[42px] rounded-[32px] flex items-center justify-center hover:bg-blue-600">
        Contact us
    </a>    
    </div>
  </nav>
  