<div class="relative w-[300px] h-[250px] rounded-xl flex justify-center items-center transition-all duration-500 ease-in-out cursor-pointer hover:scale-110">
  <div class="relative flex flex-col justify-center items-center transition-all duration-500 ease-in-out">
    <div class="relative w-[150px] h-[150px] overflow-hidden rounded-xl">
      <img [src]="imageSrc" alt="{{firstName}}" class="object-cover w-full h-full scale-90 rounded-xl" />
    </div>
    <div class="tracking-wide text-lg text-customRed text-center leading-snug" style="font-family: 'Integral CF'; font-weight: 400;">
      <p>{{firstName}} <span class="font-extrabold">{{lastName}}</span></p>
      <h4 class="text-sm text-customRed max-w-[80%] break-words whitespace-normal text-center mx-auto" style="font-family: 'NeueMontreal'; font-weight: 300;">
        {{role}}
      </h4>
    </div>
  </div>
</div>
