<div class="relative w-72 h-88 my-8 rounded-xl flex justify-center items-center backdrop-blur transition-all duration-500 ease-in-out cursor-pointer hover:scale-110">
  <div class="relative flex flex-col justify-center items-center transition-all duration-500 ease-in-out">
    <div class="relative w-48 h-48 overflow-hidden rounded-xl">
      <img [src]="imageSrc" alt="{{name}}" class="object-cover w-full h-full" />
    </div>
    <div class="tracking-wide text-xl text-customRed text-center my-5 leading-snug font-integral">
      <p>{{name}}</p>
      <h4 class="text-lg text-customRed font-neue">{{role}}</h4>
    </div>
  </div>
</div>
