<div class="relative w-72 h-88 bg-white  my-8 shadow-[0_10px_35px_rgba(0,23,14,0.2)] rounded-xl flex justify-center items-center backdrop-blur transition-all duration-500 ease-in-out cursor-pointer hover:scale-110">
    <div class="relative flex flex-col justify-center items-center transition-all duration-500 ease-in-out">
      <div class="relative w-48 h-48  overflow-hidden rounded-xl ">
        <img [src]="imageSrc" alt="{{name}}" class="object-cover w-full h-full" />
      </div>
      <div class="text-primary tracking-wide text-xl text-center my-5 leading-snug font-semibold text-customRed">
        <p class="text-customRed">{{name}}</p>
        <h4 class="text-customRed text-lg font-normal">{{role}}</h4>
      </div>
    </div>
  </div>
  