@keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .animate-marquee {
    display: flex;
    width: max-content;
    animation: marquee 40s linear infinite; /* Smooth scrolling */
    font-size: 15px; 
    line-height: 33px;
    letter-spacing: 0.1em;
  }