<!-- Navbar at the top -->
<app-navbar></app-navbar>
<div class="hero text-customRed"> 
    <div class="hero-content text-center mt-8 ">
        <div class="max-w-full">
            <h1 class="text-3xl font-bold" style="font-family: 'Integral CF'; font-weight: 400;">
                meet the <span style="font-weight: 800;">Organizing Committee</span>
            </h1>
            <p class="py-6" style="font-family: 'NeueMontreal'; font-weight: 300;">
                Our dedicated Organizing Committee (OC) team is the driving force behind this exciting event. Comprised <br/>
                of passionate professionals and enthusiastic volunteers, our team is committed to delivering an <br/>
                unforgettable experience for all participants.
            </p>
        </div>
    </div>
</div>

<div class="hero text-customRed">  
    <div class="hero-content text-center mb-8">
        <div class="max-w-full">
            <h1 class="text-xl font-bold mb-8" style="font-family: 'Integral CF'; font-weight: 400;">
                meet the <span style="font-weight: 800;">Head of Departments</span>
            </h1>
            <div class="flex flex-wrap justify-center gap-4 max-w-screen-xl mx-auto">
                <app-card *ngFor="let head of heads"
                    [firstName]="head.firstName"
                    [lastName]="head.lastName"
                    [role]="head.role"
                    [imageSrc]="head.imageSrc">
                </app-card>
            </div>                                 
        </div>
    </div>
</div>

<div class="hero text-customRed"> 
    <div class="hero-content text-center mb-8">
        <div class="max-w-full">
            <h1 class="text-xl font-bold mb-8" style="font-family: 'Integral CF'; font-weight: 400;">
                meet the <span style="font-weight: 800;">managers</span>
            </h1>
            <div class="flex flex-wrap justify-center gap-4 max-w-screen-xl mx-auto">
                <app-card *ngFor="let manager of managers"
                    class="w-1/5 w-[18%]"
                    [firstName]="manager.firstName"
                    [lastName]="manager.lastName"
                    [role]="manager.role"
                    [imageSrc]="manager.imageSrc">
                </app-card>
            </div>                                                     
        </div>
    </div>
</div>
<!-- Footer (Always at Bottom) -->
<app-footer></app-footer>