<div class="min-h-screen p-8">
  <div class="max-w-2xl mx-auto">
    <!-- Day Header -->
    <h1 class="text-l font-regular text-customRed mb-8 text-center font-integral" [innerHTML]="day" *ngIf="day"></h1>
    
    <!-- Timeline -->
    <div class="relative">
      <!-- Vertical Line - with custom fixed height -->
      <div class="absolute left-5 top-7"
           [style.height.px]="lineHeight"
           style="background-color: #4B1306; width: 4px;">
      </div>
      
      <!-- Events -->
      <div class="space-y-24"> <!-- Equal spacing between events -->
        <div *ngFor="let event of events; let i = index; let last = last" class="relative flex">
          <!-- Timeline Dot -->
          <div class="w-10 h-10 bg-[#4B1306] rounded-full flex items-center justify-center flex-shrink-0">
            <div class="w-3 h-3 bg-[#3E0F04] rounded-full"></div>
          </div>
          
          <!-- Event Card -->
          <div
             class="ml-4 rounded-lg p-3 border transition duration-300 group inline-block"
            [style.borderColor]="'rgba(198, 31, 31, 0.14)'"
            (mouseenter)="setHoverState(i, true)" 
            (mouseleave)="setHoverState(i, false)"
            [style.backgroundColor]="isHovered(i) ? '#4B1306' : 'rgba(198, 31, 31, 0.04)'">
            <!-- Event Time -->
            <div class="text-sm mb-1 text-left" [ngClass]="{'text-[#4B1306]': !isHovered(i), 'text-[#E8C17E]': isHovered(i)}">
              {{ event.time }}
            </div>
            <!-- Event Title - Using innerHTML to properly render the <br/> tags -->
            <h3 class="text-lg font-medium text-left" 
                [ngClass]="{'text-[#4B1306]': !isHovered(i), 'text-[#E8C17E]': isHovered(i)}"
                [innerHTML]="event.title">
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>