footer {
    background-image: url('../../assets/footerbg.png');
    font-family: 'NeueMontreal', sans-serif;
    font-weight: 290; 
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 1px;
}
/* Footer Component CSS */
:host-context(.no-bg-footer) footer {
    background-color: transparent !important;
  }
