<div class="w-full bg-customRed py-2 overflow-hidden font-integral">
    <div class="flex whitespace-nowrap animate-marquee text-lg text-customYellow uppercase tracking-wide">
      <span class="font-extrabold">
        National Robotics Weekend on its 7<sup>th</sup> Edition  
      </span>
      <span class="font-Regular"> 
        &nbsp;– Swipe Up to See More 
        <img src="../../assets/Caret down.png" alt="Arrow" width="15" class="inline-block align-middle ml-1">
      </span>
      <span class="mx-60"></span> 
      <span class="font-extrabold">
        National Robotics Weekend on its 7<sup>th</sup> Edition  
      </span>
      <span class="font-Regular"> 
        &nbsp;– Swipe Up to See More 
        <img src="../../assets/Caret down.png" alt="Arrow" width="15" class="inline-block align-middle ml-1">
      </span>
      <span class="mx-60"></span> 
      <span class="font-extrabold">
        National Robotics Weekend on its 7<sup>th</sup> Edition  
      </span>
      <span class="font-Regular"> 
        &nbsp;– Swipe Up to See More 
        <img src="../../assets/Caret down.png" alt="Arrow" width="15" class="inline-block align-middle ml-1">
      </span>
    </div>
  </div>

  